body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #01d6af, #0a33ec);
    min-height: 100vh;
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
