body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #2b2b9b8f 0%, #1919d3 50%, #0e44d979 100%);
    min-height: 100vh;
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email {
    
}